body {
	background-color: #181818;
	margin: 0px;
}

@font-face {
	font-family: Graphik; 
	src: url(images/Graphik-Semibold.ttf); 
}

.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  font-family: Graphik, 'Graphik Semibold';
}
/*------------------------------------*/
.base_block1 {
	background-image: url(images/3pictures.png);
	background-repeat: no-repeat;
	background-position: 50% 100%;
	width: 100%;
	height: 1675px;
	color: white;
  	text-align: center;
  }
/*------------------------------------*/
.figma_icon {
	display: inline;
	height: 60px;
	width: 186px;
}
 @media screen and (max-device-width: 1921px) {
 	.figma_icon {
		 margin: auto;
		 margin-bottom: 0px;
		 margin-right: 106px; 
 	}
 }

 @media screen and (max-device-width: 549px) {
	.figma_icon {
		margin: auto;
		
	 	margin-right: 39px; 
	 	margin-top: 25px; 
	 	margin-bottom: 0px;
    }
}
/*------------------------------------*/
.top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	color: white;
	border-top: 47px; 
 	margin-bottom: 0px;
 	width: 100%;
}

.top2 {
	display: inline;
	flex-direction: row;

	color: white;
	border-top: 47px; 
	margin-left: 0px;  
 	margin-bottom: 25px;
}

 @media screen and (max-device-width: 549px) {
 	.top2 {
 		display: none;  	
 	}
 }
/*------------------------------------*/
.top_line {
	display: inline;
	color: white;
	font-size: 17px;
	max-width: 80px;
	margin-right: 30px;
	margin-left: 30px;
}
 @media screen and (max-device-width: 549px) {
 	.top_line {
 		display: none;  	
 	}
 }

/*------------------------------------*/
.login_block {
	display: inline;
	margin: auto;
}

/*------------------------------------*/
button.login {
	background-color: #181818;
	color: white;
	font-family: Graphik;
	font-size: 17px;	
	border: 1px solid white;

	width: 120px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    display: inline;
}

 @media screen and (max-device-width: 1921px) {
 	.login {
 		 margin: auto;
		 margin-top: 46px; 
		 margin-bottom: 0px;
		 margin-left: 170px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.login {
	    margin: auto; 
	 	margin-top: 14px; 
	 	margin-bottom: 0px;
 	}
}
/*------------------------------------*/

.text_work {
	text-align: center;
 	font-family: Graphik; 
 	margin: auto;
}

 @media screen and (max-device-width: 1921px) {
 	.text_work { 
	 margin-top: 214px; 
	 margin-bottom: 0px; 
 
	 width: 709px;
	 height: 176px; 
	 font-size: 80px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.text_work {
 	margin-top: 174px; 
 	margin-bottom: 0px;
 
 	width: 294px;
	height: 186px; 
	font-size: 52px;
 	}
}
/*------------------------------------*/

.text_most {
	text-align: center;
 	font-family: Graphik;
 	font-size: 20px; 
 	margin: auto;
 	line-height: 30px;
}

 @media screen and (max-device-width: 1921px) {
 	.text_most {
	margin-top: 37px; 
	margin-bottom: 0px;
	width: 582px;
	height: 60px;  
 	}
 }

 @media screen and (max-device-width: 549px) {
	.text_most { 
 	margin-top: 27px; 
 	margin-bottom: 0px; 
 	width: 382px;
	height: 120px; 
 	}
}

/*------------------------------------*/
.vector {

	color: white;
}
 @media screen and (min-device-width: 550px) {
 	.vector {
 		display: none;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.vector {
	margin-left: 10px;
 	margin-right: 27px;  
 	margin-bottom: 11px;
    }
}


/*------------------------------------*/
button.btn_new {
	background-color: #181818;
	color: white;
	font-family: Graphik;
	margin: 10px 35px;
	font-size: 17px;	
	border: 1px solid white;

	width: 136px;
    height: 65px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    display: block;
}

button.btn_primary {
	background-color: #4452FE;
	color: white;
	font-family: Graphik;
	margin: 10px 35px;
	font-size: 17px;	

	width: 136px;
    height: 65px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    display: block;
}

/*------------------------------------*/
.buttons_container {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
}

@media screen and (max-device-width: 1921px) {
 	.buttons_container {
 	margin-top: 105px;
    flex-direction: row;
	margin-bottom: 0px;
	margin-left: 636px;
 	margin-right: 636px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.buttons_container {
	margin-top: 77px;
	flex-direction: column;
	margin-bottom: 0px;
	margin-left: 206px;
 	margin-right: 207px;
    }
}

/*------------------------------------*/
.gradient {
	display: flex;
	position: absolute;
	width: 100%;
	height: 551px;
	background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0E0E0E 66.15%);
}

@media screen and (max-device-width: 1921px) {
 	.gradient { 
	 margin-top: 351px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.gradient {
	margin-top: 280px;
    }
}
/*----------2 block--------------------------*/
.base_block2 {
	width: 100%;
	color: white;
  }
  @media screen and (max-device-width: 1921px) {
 	.base_block2 { 
	 height: 1112px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.base_block2 {
	height: 1414px;
    }
}
/*------------------------------------*/
.text_features {
	text-align: center;
 	font-family: Graphik; 
 	font-size: 52px;
 	margin-bottom: 0px;
 	margin-top: 62px;
}
/*-------------new---usefull--------------------*/

.feature_container_desktop {
	display: flex;
	flex-direction: row;
	/*position: absolute;
	border: 1px solid white;*/
	width: 1047px;
	height: 760px;
	margin: auto;
	margin-top: 80px; 
}
 @media screen and (max-device-width: 549px) {
	.feature_container_desktop {
	display: none;
    }
}
/*-------------new---usefull--------------------*/
.feature_container_mobile {
	display: flex;
	flex-direction: column;
	align-items: center;
	/*border: 1px solid white;*/
	width: 377px;
	height: 390px;
	margin: auto;
	margin-top: 28px; 
}
 @media screen and (min-device-width: 550px) {
	.feature_container_mobile {
	display: none;
    }
}
/*------------------------------------*/
.big_picture2 {
	display: block;
	position: relative;
	
}
@media screen and (max-device-width: 1921px) {
 	.big_picture2 { 
	left: 0px;
	top: 0px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.big_picture2 {
	left: 0px;
	top: 0px;
	width: 377px;
	height: 319px;
    }
}
/*------------------------------------*/
.small_picture2 {
	display: block;
	position: absolute;
	overflow: hidden;
 }   
@media screen and (max-device-width: 1921px) {
 	.small_picture2 {  
 	margin-top: 453px;
 	margin-left: 324px;
 	/*top: 2419px;
	right: 582px;*/
 	}
 }

 @media screen and (max-device-width: 549px) {
	.small_picture2 {
	margin-left: 0px; 
 	margin-top: 200px; 
    }
}
/*------------------------------------*/
.feature_block {
	/*border: 1px solid white;*/ 
}
@media screen and (max-device-width: 1921px) {
 	.feature_block { 
 		display: inline;
 		position: relative;
 	margin: auto; 
 	margin-top: 70px;
 	margin-right: 0px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.feature_block { 
	position: absolute;
 	margin-top: 463px; 
    }
}
/*------------------------------------*/
.feature_text1 {
	display: inline;
	text-align: left;
 	font-family: Graphik; 
 	font-size: 20px;
 	margin-left: 5px;
 	line-height: 30px;
 	width: 124px;
 	height: : 20px;
}
.feature_text2 {
    text-align: left;
 	font-family: Graphik; 
 	font-size: 16px;
 	margin-top: 20px;
 	margin-bottom: 45px;
 	max-width: 249px;
 	line-height: 24px;
}
/*------------------------------------*/
.feature_icon {
	display: inline;
    margin-right: 0px;
    margin-left: 0px;
}
/*----------3 block--------------------------*/


.base_block3 {
	flex: column;
	width: 100%;
	color: white;
	text-align: center;
	align-items: center;
  }

  @media screen and (max-device-width: 1921px) {
 	.base_block3 { 
 	height: 930px;; 
 	}
 }

 @media screen and (max-device-width: 549px) {
	.base_block3 {
	height: 1519px;
    }
}
/*------------------------------------*/

.line {
	display: flex;
	/*flex-direction: row;
	justify-content: center;
	height: 476px;*/
	width: 100%;
	
}

@media screen and (max-device-width: 1921px) {
 	.line { 
 	height: 624px;
	flex-direction: row;
	justify-content: center; 
 	}
 }

 @media screen and (max-device-width: 549px) {
	.line {
	height: 1200px;
	flex-direction: column;
	align-items: : center;
	width: 353px;
	margin: auto;
    }
}

/*------------------------------------*/
.contents_block {
	display: block;
	background-color: white;
	/*height: 624px;
	width: 476px;*/
	border-radius: 10px; 
	margin-top: 54px;
	color: black;
	text-align: center;
	margin-right: 17px;
	margin-left: 17px;
	align-items: center; 
}

@media screen and (max-device-width: 1921px) {
 	.contents_block { 
 	height: 624px;
	width: 476px; 
 	}
 }

 @media screen and (max-device-width: 549px) {
	.contents_block {
	height: 578px;
	width: 353px;
    }
}
/*------------------------------------*/
.contents_text1 {
	text-align: center;
 	font-family: Graphik; 
 	font-size: 20px;
 	margin-top: 50px;
}
.contents_text2 {
 	font-family: Graphik; 
 	font-size: 16px;
 	color: #5C5C5C;
 	width: 268px;
 	line-height: 24px;
 	text-align: center;
 	margin: auto;
 	margin-top: 20px;
}
/*------------------------------------*/
button.btn_contents_l {
	background-color: #4452FE;
	color: white;
	font-family: Graphik;
	margin: auto;
	margin-top: 67px;
	margin-bottom: 67px;
	font-size: 17px;	

	width: 148px;
    height: 52px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    display: block;
}

button.btn_contents_r {
	background-color: #4452FE;
	color: white;
	font-family: Graphik;
	margin: auto;
	margin-top: 40px;
	margin-bottom: 10px;
	font-size: 17px;	

	width: 148px;
    height: 52px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    display: block;
}
/*------------------------------------*/
.contents_icon {
	display: inline;
    margin-right: 0px;
    margin-left: 0px;
}
@media screen and (max-device-width: 549px) {
	.contents_icon {
	height: 204px;
	width: 280px;
	object-fit: cover;
    }
}

.scale img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.scale1 img{
    object-fit: cover;
    margin: auto;

}
 @media screen and (max-device-width: 549px) {
	.scale1 {
	display: none;
    }
}

.scale2 img{
    object-fit: cover;
    margin: auto;

}
 @media screen and (min-device-width: 550px) {
	.scale2 {
	display: none;
    }
}
/*----------4 block--------------------------*/
.base_block4 {
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  @media screen and (max-device-width: 1921px) {
 	.base_block4 { 
	 height: 1016px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.base_block4 {
	height: 1557px;
    }
}
/*------------------------------------*/
.gallery_desktop {
	display: flex;
	flex-direction: row;
	justify-content: center;
	height: 285px;
	width: 1087px;
	margin: auto;
	margin-top: 54px;
	margin-bottom: 0px;
}
@media screen and (max-device-width: 549px) {
	.gallery_desktop {
	display: none;
    }
}
/*------------------------------------*/
.gallery_mobile {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: : center;
	height: 1400px;
	width: 323px;
	margin: auto;
	margin-top: 54px;
	margin-bottom: 0px;
}
@media screen and (min-device-width: 550px) {
	.gallery_mobile {
	display: none;
    }
}
/*------------------------------------*/
.gallery_picture {
	display: inline;
    margin-right: 16px;
    margin-left: 16px;
    border: 20px #4452FE;
    border-radius: 10px;
    overflow: hidden;
}
/*------------------------------------*/
button.btn_gal {
	background-color: #181818;
	color: white;
	font-family: Graphik;
	margin-top: 58px;
	font-size: 17px;	
	border: 1px solid white;

	width: 136px;
    height: 65px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    display: block;
}
/*------5block------------------------------*/
.base_block5 {
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  @media screen and (max-device-width: 1921px) {
 	.base_block5 { 
	 height: 484px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.base_block5 {
	height: 615px;
    }
}
/*------------------------------------*/
.partners_icons_desktop {
	display: inline-block;
	justify-content: space-between;
	margin: auto;
	margin-top: 65px;
	margin-bottom: 0px;
}
  @media screen and (min-device-width: 550px) {
 	.partners_icons_desktop { 
	 height: 100px;
	 width: 950px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.partners_icons_desktop {
	 height: 163px;
	 width: 350px;
	 display: none;
    }
}

.partners_icons_mobile {
	display: flex;
	justify-content: space-between;
	margin: auto;
	margin-top: 65px;
	margin-bottom: 0px;
}
  @media screen and (min-device-width: 550px) {
 	.partners_icons_mobile { 
	 height: 100px;
	 width: 950px;
	 display: none;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.partners_icons_mobile {
	 height: 65px;
	 width: 350px;
    }
}
/*------------------------------------*/
.part_icon {
	display: inline;

}
  @media screen and (min-device-width: 550px) {
 	.part_icon { 
     margin-right: 37px;
    margin-left: 37px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.part_icon {
     margin-right: 20px;
    margin-left: 20px;
    }
}
/*------------------------------------*/
.ibm_icon1 {
	display: inline;

}
  @media screen and (min-device-width: 550px) {
 	.ibm_icon1 { 
    margin-right: 37px;
    margin-left: 37px;
 	}
 }

 @media screen and (max-device-width: 549px) {
.ibm_icon1 { 
     display: none;
 	}
 }
/*------------------------------------*/
.ibm_icon2 {
	display: inline;

}
  @media screen and (min-device-width: 550px) {
 	.ibm_icon2 { 
    display: none;
 	}
 }

 @media screen and (max-device-width: 549px) {
.ibm_icon2 { 
     margin-right: 20px;
    margin-left: 20px;
 	}
 }
 /*-----------6 block-------------------------*/
.base_block5 {
	width: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  @media screen and (min-device-width: 550px) {
 	.base_block5 { 
	 height: 884px;
 	}
 }

 @media screen and (max-device-width: 549px) {
	.base_block5 {
	height: 1805px;
    }
}
/*------------------------------------*/
.testimonials_block {
	display: block;
	background-color: #181818;
	border-radius: 10px white; 
	margin-top: 54px;
	color: white;
	text-align: center;
	margin-right: 17px;
	margin-left: 17px;
	align-items: center; 
}

@media screen and (max-device-width: 1921px) {
 	.testimonials_block { 
 	height: 328px;
	width: 430px; 
 	}
 }

 @media screen and (max-device-width: 549px) {
	.testimonials_block {
	height: 578px;
	width: 353px;
    }
}